@mixin center-xy-absolute {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-x-relative {
  margin-left: auto;
  margin-right: auto;
}

@mixin background-layer {
  z-index: 1;
}

@mixin midground-layer {
  z-index: 2;
}

@mixin foreground-layer {
  z-index: 3;
}

@mixin block-layer{
  z-index: 4;
}

@mixin sticky-bottom {
  position: absolute;
  bottom: 0;
}

@mixin sticky-top {
  position: absolute;
  top: 0;
}