//only for testing. Delete later

.color {
  background-color: #72AEE7;
}

//only for testing. Delete later

.fluid-container {
  width: 100%;
  min-width: 320px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.fluid-container * {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1600px; //may be not the highest number. -> monitor sizes
  min-width: 320px; //maybe choose another way to go fully responsive

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.container * {
  box-sizing: border-box;
}

//Common definitions

[class*='col-'] {
  float: left;
  min-height: 20px;
  width: 16.66%;
  border: inset 2px white;
  flex-grow: 1;

  padding: 12px; //gutter size
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

$smaller-than: "max-width";
$bigger-than: "min-width";

//Costum definitions for costum Desktop screens.

//10 or less
@media screen and($smaller-than: 1280px) {

  [class*='col-'] {
    width: 100%;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 50%;
  }

  .col-6 {
    width: 66.66%;
  }

  .col-7 {
    width: 75%;
  }

  .col-8 {
    width: 83.33%;
  }

  .col-9 {
    width: 91.66%;
  }
}

//8 or less
@media screen and($smaller-than: 1024px) {

  [class*='col-'] {
    width: 100%;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 50%;
  }

  .col-5 {
    width: 75%;
  }

  .col-6 {
    width: 83.33%;
  }

  .col-7 {
    width: 91.66%;
  }
}

//6 or less
@media screen and($smaller-than: 768px) {

  [class*='col-'] {
    width: 100%;
  }
  .col-1 {
    width: 16.66%;
  }

  .col-2 {
    width: 33.33%;
  }

  .col-3 {
    width: 50%;
  }

  .col-4 {
    width: 66.66%;
  }

  .col-5 {
    width: 91.66%;
  }
}

//4 or less
@media screen and($smaller-than: 640px) {

  [class*='col-'] {
    width: 100%;
  }

  .col-1 {
    width: 25%;
  }

  .col-2 {
    width: 50%;
  }

  .col-3 {
    width: 75%;
  }
}

//2 or less
@media screen and($smaller-than: 480px) {

  [class*='col-'] {
    width: 100%;
  }
  .col-1 {
    width: 50%;
  }
}

//mobile has all col types on 100%
@media screen and($smaller-than: 320px) {

  [class*='col-'] {
    width: 100%;
  }
}